header {
  display: block;
}

header > a {
  font-size: 3rem;
  cursor: pointer;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

li::before {
  content: none;
}

.btn-delete {
  background-color: red;
}

.btn-edit {
  background-color: #3845ff;
}
