/* Global */

* {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: white;
}

header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

main {
  min-height: 80%;
}

ol {
  padding: 2rem;
  border: 0.2rem solid red;
  list-style: none;
  counter-reset: num;
}

a {
  text-decoration: none;
  color: white;
}

li {
  min-width: 100%;
  counter-increment: num;
  font-size: 1.5rem;
}

/* Classes */

/* Id's */

#buttons {
  display: flex;
  flex-direction: row;
}

#menu {
  justify-content: flex-end;
}

/* Selectors */

main,
main > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

li::before {
  content: counter(num) ". ";
  color: #ef6a41;
  font-size: 3.5rem;
}

header > * {
  display: inline-flex;
  flex: 1 1 1rem;
}

#menu > * {
  margin-right: 1rem;
  transition: color 0.4s;
}

#menu > *:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
